<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Lift  Microservice templates</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h2>Greetings from Lift  Microservice!</h2>
	<hr></hr>
	<p>Explore Lift  Microservice</p>
  	<p><a th:href="@{${api}}">Api explorer</a></p>
	<p><a th:href="@{${health}}">Microservice Health</a></p>
	<!-- <p><a th:href="@{${myTest}}">MyTest</a></p> -->
  	<p><a th:href="@{${docs}}">Docs</a></p>
  	<p><a th:href="@{${myControlerTest}}">myControlerTest</a></p>
  	<p><a th:href="@{${liftDetails}}">My Lift REST call</a></p>
  	<p><a th:href="@{${elevatorList}}">List of elevator</a></p>
  	<p><a th:href="@{${elevatorAlarmTrend}}">Elevator Alarm Trend</a></p>
  	<p><a th:href="@{${elevatorTripTrend}}">Elevator Trip Trend</a></p>
  	<p><a th:href="@{${elevatorAlertList}}">Elevator Alert List</a></p>
  
</body>
</html>